<div class="container">
  
  <ul class="list-group">
    
    <div class="todo-item">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Tasks </th>
            <th>Priority
            </th>
            <th>Delete</th>
          </tr>

        </thead>
        <tbody>
          <tr><td></td>
            <td><input [(ngModel)]="searchTitle" placeholder="Search by Title" /></td>
    <td><select [(ngModel)]="searchPriority" placeholder="Search by Priority">
      <option value="">All Priorities</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <button class="search" (click)="search()">Search</button></td>
    <td><button (click)="clearSearch()">Clear Search</button></td>
  </tr>
          <tr *ngFor="let todo of filteredTodos.length > 0 ? filteredTodos : todos; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ todo.title }}</td>
            <td [ngClass]="getPriorityClass(todo.priority)">{{ todo.priority }}</td>
            <td><button (click)="deleteTodo(todo)">Delete</button></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </ul>
</div>