.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: sticky;
    z-index: 100;
    display: inline-flex;
    width: 100vw; /* Use viewport width to extend the full width */
    justify-content: space-between;
    align-items: center;
    margin-top: -15px;
    margin-left: -9px
;
  }
  
.app-header{
    margin-left: 25px;
}

.custom-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 55px;
    /* padding-left: 85px; */
    cursor: pointer;
}



.custom-button:hover {
    background-color: #0056b3;
    justify-content: end;
}
